dataProductSpecification: 0.0.1
id: {{.data_product_id}}
info:
  title: {{.data_product_title}}
  owner: {{.team_id}}
inputPorts: []
outputPorts:
  - id: {{.output_port_id}}
    dataContractId: {{.data_contract_id}}
